{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }]
  },
  "extends": "airbnb",
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ]
}
